<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Positronic Net Documentation
     </title>
     <meta name="author" content="Robert Thau" />
     {% if page.summary %}
       <meta name="description" content="{{ page.summary }}" />
     {% endif %}

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     <noscript>
      <link rel="stylesheet" href="stylesheets/noscript.css" type="text/css" />
     </noscript>

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}

  </head>
  <body>
    <a href="http://github.com/rst"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

    <div id="site">
      <h1><a href="/">Positronic Net Documentation</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar">
        <h3>Library info</h3>
        <ul>
          <li><a href="https://github.com/rst/positronic_net">Library source</a></li>

          <li><a href="https://github.com/rst/UmbrellaToday">Demo app</a></li>

        </ul>
      </div>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
     <script type="text/javascript">
       $(".qanote .answer").append( '<p><a class="closer">Close</a></p>' )
       var toggler = function(evt) {
         $(evt.currentTarget).parents().filter('.qanote').toggleClass('open')
       }
       $(".qanote .question").click( toggler )
       $(".qanote .closer").click( toggler )
     </script>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

  </body>
</html>
